<!DOCTYPE html>
<html>
<head>
  <title>Item Catalog Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css  href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="topnav">
  <a class="active" href="{{ url_for('catalogMenu')}}">Catalog App</a>
  {% if 'username' not in login_session: %}
  <form method=GET action="/catalog/login">
      <button class="loginbutton" type="submit">Login</button>
  </form>
  {% else %}
  <form method=GET action="/gdisconnect">
      <button class="loginbutton" type="submit">Logout</button>
  </form>
  {% endif %}
  </div>
  <section class="catalog">
  <nav>
    <h1> Categories </h1>
    <ul>
      {% for i in catalog %}
      <li><a href="{{url_for('catalogItemList', catalog_id=i.id )}}" {% if catalog_id == i.id %} class="selected" {% endif %}> {{i.name}} </a></li>
      {% endfor %}
    </ul>
  </nav>
  </section>
  <section class="catalogview">
      <a href="{{url_for('newCatalogItem', catalog_id=catalog_id )}}">Add Item</a>
      <h1> Catalog Items </h1>
      <ul>
          {% for j in catalogitem %}
            <li><a href="{{url_for('viewCatalogItem', catalog_id=j.catalog_id, catalogitem_id =j.id )}}">{{j.name}}</a></li>
          {% else %}
            <p>There is no item under this Catalog. Add an catalog item by clicking on above 'Add Item' link.</p>
          {% endfor %}
      </ul>
  </section>
</body>
</html>
